<h1>Constructors</h1>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select Constructor
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu season-dropdown" aria-labelledby="dropdownMenu1">
    {{#each model as |team|}}
      <li>{{link-to team.name 'constructors.show' team.name}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}