<h1>Seasons</h1>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select Year
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu season-dropdown" aria-labelledby="dropdownMenu1">
    {{#each model as |year|}}
      <li>{{link-to year 'seasons.show' year}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}



